.footer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 200px;
  background-color: black;
}
.box {
  height: 200px;
  width: 33%;
  margin: 0;
  padding: 0;
}

.box1 {
  position: relative;
  color: white;
  display: flex;
  text-align: center;
  align-items: center;
}
.bar-name {
  position: absolute;
  top: 40px;
  left: 15px;
  font-size: 42px;
  font-weight: bold;
}
.bar-slogan {
  position: absolute;
  bottom: 20px;
  right: 40px;
  font-size: 28px;
  color: rgb(157, 152, 152);
  text-transform: uppercase;
}

.box2 {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}
li {
  font-size: 22px;
}

.box3 {
  position: relative;
  /* display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; */
}
button {
  position: absolute;
  top: 20px;
  transform: translateX(-50%);
  left: 50%;
  font-size: 20px;
  font-weight: bold;
  color: white;
  width: 200px;
  height: 50px;
  border: rgb(106, 104, 104);
  border-radius: 8px;
  background: rgb(106, 104, 104);
}
table {
  padding-top: 70px;
  margin: 0 auto;
  font-size: 20px;
}
td {
  color: white;
  border-bottom: 1px solid white;
  padding: 10px;
}

.space-line {
  border-bottom: 1px solid black;
}
